body {
    font-family: Arial, sans-serif;
    font-size: 35px;
    background-color: #FF00FF;
    margin: 20px;
}

h1, h2 {
    color: #000080;
}

a {
    text-decoration: none;
    color: #008000;
}